.explore{
    background-color: #082147;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
    .emprendimientos{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 75.063rem;
        row-gap:4.75rem;
        gap:4.063rem;
    }
}