@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root{
  background-color: #072148;
  height: 100vh;
}